@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

:global .phenomic {
  width: 100%;
  height: 100%;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

:global .phenomic-HeadingAnchor {
  position: absolute;
  left: -1.5rem;
  opacity: 0.1;
  transition: opacity 0.2s;
  font-weight: 300 !important;

  @nest :--headings:hover & {
    opacity: 1;
    text-decoration: none;
  }
}

:global img.avatar,
:global badge-wrapper {
  display: none !important;
}

/*
 * Local styles
 */

.docLayout {
  width: 100%;
  height: 100%;
}

.body {
  padding: 16px;

  @media (--lg) {
    padding-top: calc(var(--xpad) + 40px);
    padding-bottom: calc(64px + 64px);
    transition: all 250ms ease-in;
  }
}

.bodyVisible {
  @media (--lg) {
    padding-left: calc(var(--navWidth) + var(--xpad));
    padding-right: var(--xpad);
  }
}
