:root {
  --size: 40px;
}

.toggle {
  display: none;
  box-sizing: content-box;
  transition: width 1ms linear 250ms, background-color 1ms linear 250ms, color 400ms linear;

  & svg {
    width: 20px;
    height: 20px;
    transition: fill 400ms linear;
  }

  &:hover svg {
    fill: var(--colorAccent);
  }

  @media (min-width: 769px) {
    display: block;
    width: calc(var(--size) + 12px);
    height: calc(var(--size) + 12px);
    line-height: var(--size);
    position: fixed;
    padding-left: 24px;
    left: 0;
    bottom: 0;
    color: var(--colorBlack);
    z-index: 10;
    cursor: pointer;
    background: transparent;
  }
}

.toggleVisible {
  /* width: calc(var(--navWidth) - 25px);
  background-color: var(--colorBg); */
  transition: color 400ms linear;
}
