:global #discourse-comments {
  margin: 0 auto;
  max-width: 48rem;
}

:global .markdown-body {
  margin: 0 auto;
  max-width: 48rem;
  overflow: visible;
  font-family: "Source Sans Pro" !important;

  & a {
    font-weight: bold;
    color: var(--colorPrimary);
  }

  & img {
    display: block;
    margin: auto;
  }

  /*
   * Update heading styles
   */

  & h2 {
    font-weight: 300;
    font-size: 2em;
    color: var(--colorAccent);
  }

  & h1 {
    font-weight: 300;
    color: var(--colorAccent);
    margin-bottom: 0.6em;
    padding-bottom: 0.6em;
    border-bottom: solid 1px #eee;
    font-size: 2.5rem;
  }

  & h4 {
    font-size: 1.15em;
  }
}
