:root {
  --pad: 24px;
}

.toc-menu {
  position: relative;
  padding: calc(var(--pad) - 4px) 0;
  box-shadow: inset -1px 0 var(--line);
  font-size: 13px;
  transition: opacity 1500ms linear;

  & ul,
  & li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.title {
  display: block;
  padding: 7px var(--pad);
  height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: content-box;
}

.level-1.parent {
  margin-bottom: 16px;
}

.level-1.parent > .title {
  margin-top: 16px;
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 1.1em;
}

.level-1:first-child {
  margin-bottom: 16px;
}

.level-1:first-child > .heading-list {
  margin-top: 16px;
}

.level-1:first-child > .title {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: var(--colorBlack);
}

.level-3 .title {
  padding-left: calc(var(--pad) + 8px * 1);
}

.level-4 .title {
  padding-left: calc(var(--pad) + 8px * 2);
}

.link,
.link:visited {
  color: var(--colorSlate);
  text-decoration: none;
  position: relative;
}

.link,
.hlink {
  transition: background-color 200ms linear, color 500ms linear, box-shadow 200ms linear;
  box-shadow: inset -2px 0 color(var(--colorAccent) a(0));
  box-sizing: content-box;

  &:hover {
    background-color: color(var(--colorAccent) a(0.02));

    /* color: color(darken(var(--colorSlate), 20%)) */
    color: #242a31;
    transition: box-shadow 200ms linear;
  }

  &:active {
    background-color: color(var(--colorAccent) a(0.1));
    color: var(--colorBlack);
    transition: box-shadow 200ms linear;
  }
}

.active {
  box-shadow: inset -2px 0 var(--colorPrimary);
  transition: background-color 200ms linear, color 500ms linear;
}

@media (--lg) {
  .menu {
    width: var(--navWidth);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: hidden;
    display: block;
    transform: translate3d(-var(--navWidth), 0, 0);
    transition: all 250ms ease-in;
  }

  .menuVisible {
    transform: translate3d(0, 0, 0);

    &::after {
      content: '';
      display: block;
      height: 64px;
    }
  }
}
